#inventions {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    border-radius: 20px;
}

#inventions_list {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-evenly;
    gap: 25px;
}

/* Rajout de object fit & max-height */
.invention img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    max-height: 50%;
    border-radius: 10px 10px 0px 0px;
}

.invention h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-align: center;
}

.invention p {
    font-size: 1.2rem;
    padding: 5px 20px;
}

.invention a {
    text-align: center;
    display: block;
    margin-top: 20px;
}

.invention {
    width: 350px;
    min-height: 100%;
    margin: 0 20px;
    border-radius: 10px; /*Ajout d'un border radius pour arrondir les cards*/
    background-color: #fde9c9;
    box-shadow: 0 0 10px 0 var(--chocolate-color);
}

/* Rajout media querie pour redimensionner les cartes en format desktop */
@media screen and (min-width: 1520px) {
    .invention {
        width: 500px;
        margin: 0;
    }
} 

#invention_details img {
    width: 20%;
    margin: 0 auto;
}

#invention_details {
    width: 80%;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-evenly;
}