@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Single+Day&display=swap');

* {
    padding: 0;
}

:root {
    --creamy-color: #E3C9A4;
    --brown-color: #35241E;
    --chocolate-color: #844338;
    --coffee-color: #AB7644;
    --main-font: 'Lato', sans-serif;
    --secondary-font: 'Libre Baskerville', serif;
    --signature-font: 'Single Day', cursive;
}

body {
    /* Rajout de la max-width */
    max-width: 100%;
    font-family: var(--main-font);
    background: var(--creamy-color);
    color: var(--brown-color);
    font-size: 1.5rem;
}

/* Rajout d'une media querrie pour la taille du texte qui debordé en version mobile */
@media screen and (max-width: 643px) {
    body {
        font-size: 1rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font);
    color: var(--chocolate-color);
    margin-top: 20px; /* Titre "Inventions Magiques du Professeur" recentré */
}

a {
    text-decoration: none;
    color: var(--chocolate-color);
}
/*Les puces ont était enlever*/
li {
    list-style-type: none;
}

a:hover {
    text-decoration: underline;
    color: var(--coffee-color);
}

.btnmagie {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: var(--chocolate-color);
    color: var(--creamy-color);
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 200px; /* bouton "Entrez dans la magie" recentré*/ 
}
/*Ajout d'une classe css pour séparer le bouton "Entrez dans la magie" et "Découvrez les inventions*/
.btninventions {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: var(--chocolate-color);
    color: var(--creamy-color);
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 80px; /* bouton "Découvrez les inventions" recentré*/ 
}
/*Ajout d'une classe css pour faciliter le CSS du bouton "Contactez-nous*/
.btncontact {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: var(--chocolate-color);/*Rajout du background du bouton "Contactez-nous" */
    color: var(--creamy-color);
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 80px; 
}.btn:hover {
    background: var(--coffee-color);
    color: var(--creamy-color);
}

section {
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background: var(--creamy-color);
    color: var(--brown-color);
    width: 100%;

    bottom: 0;
    z-index: 1000;
    text-align: center;
    padding: 20px 0;
}

/* Header & Nav */
header {
    background: var(--creamy-color);
    color: var(--brown-color);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    /* Rajout d'une max-width */
    max-width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 20px 0;
}

.nav-brand {
    font-family: var(--signature-font);
    font-size: 2rem;
    color: var(--chocolate-color);
}

.navbar-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.navbar-toggle {
    display: none;
}

/*Inventions cards */
.Cards__Savoir-Plus{
display:flex;
justify-content: center;
}

.bg-btn {
    background: var(--chocolate-color);
    color: var(--creamy-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    cursor: pointer;
}

.d-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-evenly;
}

.d-flex li {
    margin: 0 10px;
}

.d-none {
    display: none;
}

/* Media Queries */

/* Tablet */
@media screen and (max-width: 1200px) {
    /* Ajustement du container*/
    .container {
        max-width: 90%;
        margin: 0 auto;
        padding: 10px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar-desktop, .nav-brand {
        display: none;
    }

    .navbar-toggle {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding: 10px;
    }
}

/* Mobile */
@media screen and (max-width: 768px) {
    .container {
        max-width: 80%;
        margin: 0 auto;
        padding: 10px;
        height: auto;
    }

    .navbar-desktop, .nav-brand {
        display: none;
    }

    .navbar-toggle {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding: 10px;
    }
}